body {
}

.rosybrown-input {
    border-color: rosybrown !important;
}

.rosybrown-bg {
    background-color: rosybrown;
    border-color: rosybrown;
    color: initial;
}
.custom-button {
    font-size: 18px; 
    padding: 10px 20px; 
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  Fire kolonner 
    gap: 20px;  Afstand mellem kortene 
}

.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rosybrown;
    padding: 3px;
  
}





