body {
}

.rosybrown-input {
    border-color: rosybrown !important;
}

.rosybrown-bg {
    background-color: rosybrown;
    border-color: rosybrown;
    color: initial;
}
.custom-button {
    font-size: 18px; 
    padding: 10px 20px; 
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  Fire kolonner 
    gap: 20px;  Afstand mellem kortene 
}



.footer {
    position: relative;
    width: 100%;
    max-width: 2500px; /* Juster denne værdi efter behov */
    margin: 0 auto; /* Centrer footer-elementet */
    background-color: #F5EBE0;
    color: #000;
    text-align: center;
    padding: 20px 0; /* Tilføj lidt luft omkring indholdet */
    box-sizing: border-box; /* Sørg for at padding er inkluderet i den samlede bredde */
    z-index: 999;
}








