@page
@model NygarnDemo.Pages.User.WishListModel
@using Models
@{
}
<head>WishList</head>

@* <body>
   <h1> @Models.User.UserName WishList</h1>
   <u1>
        @foreach (var item in Models.WishList)
        {
            <li>

            </li>
        }
    </u1> *@


</body>