@page
@model NygarnDemo.Pages.Nyheder.NyhederModel
@{
}
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sommerstrik</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        .container {
            display: flex;
            align-items: flex-start;
        }

        .content {
            flex: 1;
        }

        .sidebar {
            margin-left: 20px;
        }

            .sidebar img {
                max-width: 500px; /* Gør billedet responsivt */
                height: auto;
            }

        p {
            line-height: 1.6; /* Juster linjeafstanden efter behov */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <h3>Merry Go Round - strik fra Ficolana</h3>
            <p>Design The Knitting Stories Der er så mange smukke og nostalgiske detaljer i et tivoli. 
                Farverne, formerne og figurerne. 
                Det er næsten sådan, at man kan dufte candyfloss og popcorn, bare ved at tænke på det. <br>
                Eller høre lyden af karusselen, som drejer rundt og rundt, og huske, hvordan det var at stå og vente og håbe, at lige den plads på karrusellen, <br>
                man drømte om, var ledig, når det endelig var ens tur.
            </p>


            <p>Hvad enten det var den smukke hest, den elegante svane eller den magiske tekop. 
                Her pryder de smukke detaljer en fin cardigan, hvor du har tre forskellige skønne broderier at vælge imellem: den fine karrusel, den smukke hest eller den farverige slikkepind. 
                Størrelse 1 år/80cl (2 år/92cl) 4 år/104cl (6 år/116cl) 8 år/128cl 
                Kollektion Tivoli Gardens - SS24 
                Garn der er brugt til opskriften: TILA & ARWETTA
            </p> 


                <p>Opskriften kan du finde på Filcolanas hjemmeside </p>
            </p>
        </div>
        <div class="sidebar">
            <img src="~/pngFiles/Insp2.png" alt="Image 2">
        </div>
    </div>
</body>
</html>
