@page
@model NygarnDemo.Pages.Order.MyOrderModel
@{
}

@* <h1>Create Order</h1>

<form method="post">
    <div>
        <label>Order ID</label>
        <input asp-for="Order.OrderId" />
    </div>
    <div>
        <label>User ID</label>
        <input asp-for="Order.UserId" />
    </div>
    <div>
        <label>Date</label>
        <input asp-for="Order.Date" type="date" />
    </div>
    <button type="submit">Save</button>
</form> *@