@page
@model NygarnDemo.Pages.Product.YarnPages.GetAllYarnProductsModel
@{
}

<h1>Garn</h1>

@if(Model.YarnProducts != null)
{
    foreach(var yarnProducts in Model.YarnProducts)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5gOk9johiqyLngH4hJNbyZCgPJ1Ib2mLWTiHsQ9Wvmg&s" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Garn</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">KØB DET GARN MA FREN</a>
            </div>
        </div>
    }
}


