@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Nygarn</h1>
    <h3>
        Strik dine drømme sammen med vores kvalitetsgarn
    </h3>
   
</div>
