@page
@model NygarnDemo.Pages.LogInPage.LogInPageModel
@{
}

<div class="container">
  
   <section class="vh-20 gradient-custom">
       <div class="container py-5 h-50">
            <div class="row d-flex justify-content-center align-items-center h-50">
                 <div class="col-10 col-md-8 col-lg-6 col-xl-5">
                      <div class="card current-color text-current" style="border-radius: 1rem;">
                            <div class="card-body p-1 text-center">
                                  <form method="post">
                                             <div style="background-color: rgba(255, 255, 255, 0.5); color: red;" class="popup-box">
                                               @Model.Message
                                             </div>
                                        <div class="mb-md-5 mt-md-4 pb-5">
                                            <h2 class="fw-bold mb-4 text-uppercase">Log ind</h2>
                                            <div data-mdb-input-init class="form-outline form-current mb-4">
                                             <label class="form-label" for="username">Brugernavn</label>
                                             <input type="text" id="username" placeholder="Indtast brugernavn" name="UserName" required>
                                            </div>
                                            <div data-mdb-input-init class="form-outline form-current mb-4">
                                                <label class="form-label" for="password">Adgangskode</label>
                                                <input type="password" id="password" placeholder="Indtast adgangskode" name="password" required>
                                            </div>
                                                 <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                                                     <label class="form-check-label" for="autoSizingCheck2">
                                                       Husk mig
                                                     </label>
                                            <p class="small mb-5 pb-lg-2"><a class="text-current-50" href="#!">Glemt adgangskode? Tryk her</a></p>
                                            <button type="submit" class="btn btn-outline-black btn-lg px-5">Login</button>
                                        </div>
                                             <div>
                                             <p class="mb-0">
                                                Ikke medlem? <a href="/User/CreateUser" class="text-current-50 fw-bold"></a>
                                               <a class="text-current-50" href="/User/CreateUser">Opret dig her!</a>
                                             </p>
                                        </div>
                                  </form>
                            </div>
                         </div>
                     </div>
                </div>
          </div>
      </section>
</div>
