@page
@model NygarnDemo.Pages.LogInPage.LogOutPageModel
@{
}
<h5>Er du sikker på, at du vil logge ud?</h5>
    <form id="logoutForm" runat="server">
        <button type="submit" class="btn btn-danger">Ja</button>
        <button type="button" onclick="showConfirmation()" class="btn btn-primary">Nej</button>
    </form>

    <div id="confirmationDialog" class="confirm-dialog">
        <p>Er du sikker på, at du vil logge ud?</p>
        <form id="confirmLogoutForm" runat="server">
            <button type="submit" class="btn btn-danger">Ja</button>
            <button type="button" onclick="hideConfirmation()" class="btn btn-primary">Nej</button>
        </form>
    </div>
