@page
@model NygarnDemo.Pages.LogInPage.LogOutPageModel
@{
}
<h5>Er du sikker på, at du vil logge ud? </h5>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes</button>
    <a class="btn btn-primary" href="/LogOutPages/">No</a>
</form>
