@page
@model NygarnDemo.Pages.LogInPage.LogOutPageModel
@{
}

<div class="card-body">
    <center><p>Er du sikker på, at du vil logge ud?</p></center>
    <form method="post">
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Bekræft</button>
            <a href="/Index">
                <button type="button" class="btn btn-danger">Nej tak</button>
            </a>
        </div>
    </form>
</div>


