@page
@model NygarnDemo.Pages.Info.AboutUsModel
@{
}
<h1>Om Nygarn</h1>
<h3>Din online destination for kvalitetsgarn og håndværk!</h3>

    <p>Mit navn er Anja, og jeg har en brændende passion for garn og håndarbejde. 
       Denne passion har drevet mig til at skabe en webshop, hvor kvalitet og kærlighed til håndværket er i centrum. 
       Hos Nygarn finder du et nøje udvalgt sortiment af garn fra de fineste producenter, 
       som jeg personligt har udvalgt for at sikre, at kun de bedste materialer finder vej til dine projekter.</p>

    <p>Min kærlighed til håndarbejde begyndte i en ung alder, 
       hvor jeg tilbragte timevis med at strikke og hækle sammen med min bedstemor. 
       Denne tidlige fascination udviklede sig hurtigt til en livslang passion, der nu kommer til udtryk gennem Nygarn.</p>

    <p>Jeg tror på, at godt håndværk starter med de rigtige materialer, 
       og derfor er det min mission at tilbyde garn af højeste kvalitet, der inspirerer til kreativitet og skaber glæde.
       I vores webshop kan du forvente en personlig og engageret service, 
       hvor jeg står klar til at hjælpe dig med at finde det perfekte garn til dit næste projekt. 
       Uanset om du er en erfaren strikker eller lige er begyndt, er Nygarn stedet, hvor du kan finde alt, 
       hvad du behøver for at skabe smukke, håndlavede stykker.</p>

    <p>Udforsk vores udvalg online og lad dig inspirere af de mange farver og billeder. 
       Vi tilbyder hurtig levering og nem returnering, så du kan shoppe med ro i sindet. 
       Jeg glæder mig til at dele min passion med dig og hjælpe dig med at bringe dine kreative visioner til live.</p>