@page
@using NygarnDemo.Models;
@model NygarnDemo.Pages.Product.ToolPages.DeleteToolModel
@{
}

@* <h1>Er du sikker på at logge ud?</h1>
<div class="alert alert-danger">
    <h5>Er du sikker på at logge ud?</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Pages/LogOutPages">No</a>
    </form>
</div>

<!DOCTYPE html>
<html>
<head>
    <title>Bekræft log ud</title>
    <!-- Tilføj de rigtige stilark og scriptafhængigheder -->
</head>
*@

<div class="card-body">
    <center><p>Er du sikker på, at du vil logge ud?</p></center>
    <form method="post">
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Bekræft</button>
            <a href="/Index">
                <button type="button" class="btn btn-danger">Nej tak</button>
            </a>
        </div>
    </form>
</div>

