@page
@model NygarnDemo.Pages.Product.ToolPages.EditToolModel
@{
}

<form method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label asp-for="Tools.Id" class="control-lable"></label>
		<input asp-for="Tools.Id" class="form-control" readonly="@(true)" />
	</div>
	<div class="form-group">
		<label asp-for="Tools.Name" class="control-lable"></label>
		<input asp-for="Tools.Name" class="form-control" />
		<span asp-validation-for="Tools.Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Tools.Description" class="control-label"></label>
		<input asp-for="@Model.Tools.Description" class="form-control" />
		<span asp-validation-for="@Model.Tools.Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Tools.Price" class="control-lable"></label>
		<input asp-for="Tools.Price" class="form-control" />
		<span asp-validation-for="Tools.Price" class="text-danger"></span>
	</div>

	<p>
		<div class="form-group">
			<input type="submit" value="Update" class="btn btn-primary" />
		</div>
	</p>
</form>

<p>
	<a asp-page="/ToolPages/GetAllTools">Back to List</a>
</p>