@page
@model NygarnDemo.Pages.GarnInfo.SandnesModel
@{
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandnes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        .container {
            display: flex;
            align-items: flex-start;
        }

        .content {
            flex: 1;
        }

        .sidebar {
            margin-left: 20px;
        }

            .sidebar img {
                width: 450px;
                height: auto;
            }
    </style>
</head>
<body>
    <div class="container">
    <div class="content">
    <h1>Sandnes Garn</h1>
    <p><h4>Produceret og fremstillet i Norge</h4></p>
       <div class="sidebar">
          <img src="~/pngFiles/norge.jpg" alt="Norge" style="width: 45%; float: right;">
       </div>
       <p>
        I 1888 blev Sandnes Uldvarefabrik stiftet, og en rød teglstensfabrik blev rejst på hæderspladsen, midt i Sandnes, midt i Vågen. 
        Fabrikken var et tidsvidne til den industrielle revolution før den brændte ned i 1978,
        og blev genopbygget mellem bakker og klipper udenfor byen.
        Der har været flere ejerforhold og flere navneændringer, 
        frem til de fik dagens navn som også reflekterer at det ikke længere kun er uld som går gennem vores spinderi og ud i verden.
    </p>
     <p>Hos Sandnes Garn gør det meste selv, og er optaget af at tage sig ekstra godt af kunder.
        De holder direkte kontakt med butikker i Skandinavien, og sender dem varer direkte fra fabrikslager.
        De mest populære garntyper har de som målsætning at altid have på lager, 
        i tillæg til en stor bredde af stadige ny lanceringer tilpasset markedet.
        Salgsafdelingen har daglig kontakt med butikker i Norge, Sverige, Danmark og Finland. 
        Butikker følges op med besøg fra deres sælgere og Sandnes Garn er også tilstede for at vise nye kollektioner på messer i Skandinavien.
    </p>
    <p> Deres designafdeling rejser jævnlig ud for at hente inspiration og tager farver, 
        trender og snit med hjem igen.
        Nogen gange inviterer Sandnes Garn internationale modeprofiler med dem. <br>
        Så skabes der også design her som får ringvirkninger der ude i verden. 
    </p>
    </div>
    </div>
</body>
</html>

