@page
@model NygarnDemo.Pages.GarnInfo.SandnesModel
@{
}
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indsæt billede til højre</title>
    <style>
        img {
            float: right;
            margin: 10px;
            max-width: 50%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Sandnes Garn</h1>
    <img src="~/pngFiles/norge.jpg" alt="Beskrivelse af billede">
    <h4>Produceret og fremstillet i Norge</h4>
    <p>
        I 1888 blev Sandnes Uldvarefabrik stiftet, og en rød teglstensfabrik blev rejst på hæderspladsen, midt i Sandnes, midt i Vågen. <br>
        Fabrikken var et tidsvidne til den industrielle revolution før den brændte ned i 1978, og ble genopbygget mellem bakker og klipper udenfor byen. <br>
        Der har været flere ejerforhold og flere navneændringer, frem til vi fik dagens navn som også reflekterer at det ikke længere kun er uld som går gennem vores spinderi og ud i verden.
    
        Hos Sandnes Garn gør vi det meste selv, og er optaget af at tage os ekstra godt af vores kunder. <br>
        Vi holder direkte kontakt med butikker i Skandinavien, og sender dem varer direkte fra vores fabrikslager.
        De mest populære garntyper har vi som målsætning at altid have på lager, i tillæg til en stor bredde af stadige ny lanceringer tilpasset markedet. <br>
        Salgsafdelingen har daglig kontakt med butikker i Norge, Sverige, Danmark og Finland. Butikker følges op med besøg fra vores sælgere og Sandnes Garn er også tilstede for at vise nye kollektioner på messer i Skandinavien.
    
        Vores designafdeling rejser jævnlig ud for at hente inspiration og tager farver, trender og snit med hjem igen. <br>
        Nogen gange inviterer vi internationale modeprofiler med os. <br>
        Så skabes der også design her som får ringvirkninger der ude i verden. <br>
        Og sådan er vi en del af en dynamisk kreativ dialog som stadig inkluderer flere.
    </p>
</body>
</html>

